.App {
  text-align: center;
}



.element {
  color: brown
}

.element-ns {
  color: red
}

.element-name {
  color: blue
}

.selected {
  background-color: rgb(215, 180, 210);
}

.selected-show-hide {
  color: rgb(77, 44, 1);
}

.attribute {}

.attribute-ns {
  color: darkred
}

.attribute-name {
  color: darkorchid
}

.attribute-value {
  color: darkgreen
}

.attributes-table-box {
  display: block;
  height: fit-content;
  width: fit-content;
  background-color: aliceblue;
}



/* .attributes-table {
  display: grid;
  grid-template-columns: 1.2em 4em 20em 20em 10em 10em;
  grid-template-rows: repeat(1.2em);
}


.att-cell-1 {
  flex: 1 0 1.2em;
  background-color: pink;
}

.att-cell-2 {
  flex: 4 0 1.2em;
  background-color: aquamarine;
}

.att-cell-3 {
  flex: 20 0 1.2em;
  background-color: pink;
}

.att-cell-4 {
  flex: 20 0 1.2em;
  background-color: aquamarine;
}

.att-cell-5 {
  flex: 6 0 1.2em;
  background-color: pink;
}

.att-cell-6 {
  flex: 6 0 1.2em;
  background-color: aquamarine;
} */









.text {
  color: blueviolet
}

.text-head {
  color: black;
  display: inline-block;
  vertical-align: top;
}

.text-body {
  color: rgb(99, 2, 99);
  display: inline-block;
  padding: .25em;
  white-space: nowrap;
}

.text-body-open {
  width: 100%;
}

.text-editor {
  display: inline-block;
  padding: .25em;
  white-space: nowrap;
}

.text-editor-controls {
  float: left;
  clear: right;
  width: 100%;
}

.text-editor-text {
  color: black;
  float: left;
  border: 1px dotted black;
  padding: .25em;
  white-space: break-spaces;
  width: 100%;
}

.text-button {
  height: 1.25em;
  width: 6em;
  border: none;
  margin-right: .25em;
  border-radius: .25em;
  padding: .1em;
  font-size: .75rem;
}

.x-button {
  height: 1.25em;
  width: 1.25em;
  border: none;
  margin-right: .25em;
  border-radius: .25em;
  padding: .1em;
  font-size: .75rem;
}

.text-bracket {
  color: black;
}

.text-insert {
  color: white;
  background-color: black;
}

.text-remove {
  color: white;
  background-color: olive;
}

.text-edit {
  color: white;
  background-color: navy;
}

.text-save {
  color: white;
  background-color: maroon;
}

.text-cancel {
  color: black;
  background-color: lightgray;
}

.cdata {
  color: orangered
}

.cdata-brackets {
  color: brown;
}

.cdata-label {
  color: magenta;
}

.cdata-body {
  color: darkorange;
  display: inline-block;
  padding: .25em;
  white-space: nowrap;
}

.comment {
  color: green;
}

.comment-body {
  color: darkgreen;
  display: inline-block;
  padding: .25em;
  white-space: nowrap;
}

.pi {
  color: olive
}

.pi-lang {
  color: darkcyan
}

.pi-body {
  color: green;
  display: inline-block;
  padding: .25em;
  white-space: nowrap;
}

.prefix {}