*  {  }

.App {
  text-align: center;
}

.element {
  color: brown
}

.element-ns {
  color: red;
}

.element-name {
  color: blue
}

.selected {
  background-color: rgb(215, 180, 210);
}

.selected-show-hide {
  color: rgb(77, 44, 1);
}

.attribute {}

.attribute-ns {
  color: darkred;
  text-align: right;
}

.attribute-name {
  color: darkorchid
}

.attribute-value {
  color: darkgreen
}

.attribute-deleted {
  text-decoration: line-through;
}

.attribute-ns-input {
  width: 3.6em;
  color: darkred;
  outline: none !important;
  border: 1px solid rgb(192, 130, 130);
  text-align: right;
}

.attribute-ns-input:focus {
  outline: none !important;
  border: 2px solid rgb(192, 130, 130);
}

.attribute-name-input {
  width: 12em;
  color: darkorchid;  
  outline: none !important;
  border: 1px solid rgb(180, 129, 205);
  margin-right: 0.1em;
}

.attribute-name-input:focus{
  outline: none !important;
  border: 2px solid rgb(180, 129, 205);
}

.attribute-value-input {
  width: 20em;
  color: darkgreen;
  outline: none !important;
  border-color: rgb(131, 189, 131);
}

.attribute-value-input:focus {
  outline: none !important;
  border: 2px solid rgb(131, 189, 131);
}

.attributes-table {
  display: grid;
}

.attributes-table-box {
  display: block;
  height: fit-content;
  width: fit-content;
  background-color: aliceblue;
}

.attributes-table-cell {

}

.table-prefix {
  display: block;
  float: left;
}

.text {
  color: blueviolet
}

.text-head {
  color: black;
  display: inline-block;
  vertical-align: top;
}

.text-body {
  color: rgb(99, 2, 99);
  display: inline-block;
  padding: .25em;
  white-space: nowrap;
}

.text-body-open {
  width: 100%;
}

.text-editor {
  display: inline-block;
  padding: .25em;
  white-space: nowrap;
  width: 50%;
}

.text-editor-controls {
  float: left;
  clear: right;
  width: 100%;
}

.text-editor-text {
  color: darkgray;
  float: left;
  border: 1px solid darkgrey;
  padding: .25em;
  white-space: break-spaces;
  width: 20em;
  height: 5em;
  overflow: scroll;
  resize: both;
}

.text-editor-ro {
  color: darkgray;
  float: left;
  border: 1px solid darkgrey;
  padding: .25em;
  white-space: break-spaces;
  width: 20em;
  height: 5em;
  overflow: scroll;
  resize: both;
}

.text-editor-rw {
  color: black;
  float: left;
  border: 1px solid black;
  padding: .25em;
  white-space: break-spaces;
  width: 20em;
  height: 5em;
  overflow: scroll;
  resize: both;
}

.text-input {
  height: 1em;
  border: 2px solid black;
  margin-right: .25em;
  border-radius: .25em;
  padding: .1em;
  font-size: .8rem;
}

.ns-input {
  width: 3.6em;
  text-align: right;
  color: red;
  border-color: lightgray;
}

.ns-input:focus {
  outline: none !important;
  border: 2px solid rgb(206, 121, 121);
}

.name-input {
  width: 12em;
  color: blue;
  border-color: lightgray;
}

.name-input:focus {
  outline: none !important;
  border: 2px solid rgb(111, 117, 204);
}

.button {
  height: 1.4em;
  border: none;
  margin-right: .25em;
  border-radius: .25em;
  padding: .1em;
  font-size: .8rem;
}

.text-button {
  width: 6em;
}

.x-button {
  width: 1.4em;
}

.text-bracket {
  color: black;
}

.text-insert {
  color: white;
  background-color: black;
}

.text-remove {
  color: white;
  background-color: olive;
}

.text-edit {
  color: white;
  background-color: navy;
}

.text-save {
  color: white;
  background-color: maroon;
}

.text-cancel {
  color: black;
  background-color: lightgray;
}

.cdata {
  color: orangered
}

.cdata-brackets {
  color: brown;
}

.cdata-label {
  color: magenta;
}

.cdata-body {
  color: darkorange;
  display: inline-block;
  padding: .25em;
  white-space: nowrap;
}

.comment {
  color: green;
}

.comment-table {
  display: grid;
  min-width: 10em;
  min-height: 4em;
}

.comment-prefix {
  grid-column: 1;
  grid-row: 1 / 4;
}

.comment-open-bracket {
  grid-column: 2 / 6;
  grid-row: 1;
}

.comment-x-button {
  grid-column: 2;
  grid-row: 2;
}

.comment-button-1 {
  grid-column: 3;
  grid-row: 2;
}

.comment-button-2 {
  grid-column: 4;
  grid-row: 2;
}

.comment-button-3 {
  grid-column: 5;
  grid-row: 2;
  min-width: 20em;
}

.comment-text {
  grid-column: 2 / 6;
  grid-row: 3;
  min-height: 8em;
  display: flex;
  align-items: stretch;
  color: #759c75;
  border: solid 1px #759c75;
}

.comment-text-editor {
  flex: 1 0 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%;
  color: green;
  border: solid 1px green;
}

.comment-close-bracket {
  grid-column: 2 / 6;
  grid-row: 4;
}

.comment-body {
  color: darkgreen;
  display: inline-block;
  padding: .25em;
  white-space: nowrap;
}

.pi {
  color: olive
}

.pi-lang {
  color: rgb(13, 168, 5)
}

.pi-bracket {
  color: rgb(8, 84, 4)
}

.pi-body {
  color: green;
  display: inline-block;
  padding: .25em;
  white-space: nowrap;
}

.pi-lang-input {
  width: 6em;
  color: darkgreen;
  outline: none !important;
  border-color: rgb(131, 189, 131);
}

.pi-body-input {
  color: darkgreen;
  float: left;
  border: 1px solid darkgreen;
  padding: .25em;
  white-space: break-spaces;
  width: 20em;
  height: 5em;
  overflow: scroll;
  resize: both;
}

.prefix {}