:root {
  --element: hsl(0, 59%, 41%);

  --selected-background: hsl(107.32, 67.62%, 79.41%);
  --selected-show-hide: hsl(33.95, 97.44%, 15.29%);

  --ns-text: hsl(0, 100%, 50%);
  --ns-focus: hsl(0, 46.45%, 64.12%);
  --ns-border: hsl(0, 0%, 83%);

  --name-text: hsl(240, 100%, 50%);
  --name-focus: hsl(236.13, 47.69%, 61.76%);
  --name-border: hsl(0, 0%, 83%);

  --attribute-ns: hsl(0, 100%, 27%);
  --attribute-ns-focus: hsl(0, 32.98%, 63.14%);
  --attribute-ns-border: hsl(0, 32.98%, 63.14%);

  --attribute-name: hsl(280, 61%, 50%);
  --attribute-name-focus: hsl(280.26, 43.18%, 65.49%);
  --attribute-name-border: hsl(280.26, 43.18%, 65.49%);

  --attribute-value: hsl(120, 100%, 20%);
  --attribute-value-focus: hsl(120, 30.53%, 62.75%);
  --attribute-value-border: hsl(120, 30.53%, 62.75%);

  --text-color: hsl(271, 76%, 53%);
  --text-body: hsl(300, 96.04%, 19.8%);
  --text-input-border: hsl(0, 2%, 80%);

  --cdata-text: hsl(38, 87%, 24%);
  --cdata-text-disabled: hsl(33, 51%, 46%);
  --cdata-label: hsl(300, 100%, 50%);
  --cdata-brackets: hsl(33, 98%, 44%);

  --comment-text: hsl(120, 100%, 20%);
  --comment-text-disabled: hsl(101, 18%, 48%);
  --comment-brackets: hsl(120, 96.15%, 10.2%);

  --pi-lang: hsl(89.06, 100%, 25.1%);
  --pi-text: hsl(72, 94%, 18%);
  --pi-text-disabled: hsl(72.41, 93.55%, 18.24%);
  --pi-brackets: hsl(87.87, 88.81%, 28.04%);
}

@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* -------------------------
 * XML OUT
 * -----------------------*/
.xml-out {
  white-space: pre;
  font-family: 'RobotoMono', monospace;
  font-size: 0.8rem;
  line-height: 1;
}

/* -------------------------
 * BUTTONS
 * -----------------------*/
.button {
  height: 1.4em;
  border: none;
  margin-right: .25em;
  border-radius: .25em;
  padding: .1em;
  font-size: .8rem;
}

.text-button {
  width: 6em;
}

.x-button {
  width: 1.4em;
}

/* -------------------------
 * SELECTED TEXT
 * -----------------------*/
.selected {
  background-color: var(--selected-background);
}

.selected-show-hide {
  color: var(--selected-show-hide);
}

/* -------------------------
 * ELEMENTS
 * -----------------------*/
.element {
  color: var(--element)
}

.element-ns {
  color: var(--ns-text);
}

.element-name {
  color: var(--name-text)
}

.ns-input {
  width: 3.6em;
  text-align: right;
  color: var(--ns-text);
  border-color: var(--ns-border);
}

.ns-input:focus {
  outline: none !important;
  border: 2px solid var(--ns-text);
}

.name-input {
  width: 12em;
  color: var(--name-text);
  border-color: var(--name-border);
}

.name-input:focus {
  outline: none !important;
  border: 2px solid var(--name-text);
}

/* -------------------------
 * ATTRIBUTES
 * -----------------------*/
.attribute-ns {
  color: var(--attribute-ns);
  text-align: right;
}

.attribute-name {
  color: var(--attribute-name)
}

.attribute-value {
  color: var(--attribute-value)
}

.attribute-deleted {
  text-decoration: line-through;
}

.attribute-ns-input {
  width: 3.6em;
  color: var(--attribute-ns);
  outline: none !important;
  border: 1px solid var(--attribute-ns-focus);
  text-align: right;
}

.attribute-ns-input:focus {
  outline: none !important;
  border: 2px solid var(--attribute-ns);
}

.attribute-name-input {
  width: 12em;
  color: var(--attribute-name);
  outline: none !important;
  border: 1px solid var(--attribute-name-focus);
  margin-right: 0.1em;
}

.attribute-name-input:focus {
  outline: none !important;
  border: 2px solid var(--attribute-name);
}

.attribute-value-input {
  width: 20em;
  color: var(--attribute-value);
  outline: none !important;
  border-color: var(--attribute-value-focus);
}

.attribute-value-input:focus {
  outline: none !important;
  border: 2px solid var(--attribute-value);
}

.attributes-table {
  display: grid;
}

/* -------------------------
 * TEXT
 * -----------------------*/
.text {
  color: var(--text-body)
}

.text-body {
  color: var(--text-body);
  display: inline-block;
  padding: .25em;
  white-space: nowrap;
  border: 1px dotted var(--text-input-border);
}

.text-editor {
  display: inline-block;
  color: var(--text-color);
  padding: .25em;
  white-space: nowrap;
  width: 50%;
}

.text-editor:focus {
  outline: none !important;
  border: 2px solid var(--text-color);
}

.text-insert {
  display: inline-block;
  color: var(--text-body);
  padding: .25em;
  white-space: nowrap;
  width: 50%;
}

.text-insert:focus {
  outline: none !important;
  border: 2px solid var(--text-body);
}

.text-input {
  height: 1em;
  border: 1px solid var(--text-input-border);
  margin-right: .25em;
  border-radius: .25em;
  padding: .1em;
  font-size: .8rem;
}

.text-edit-box {
  display: grid;
  min-width: 10em;
  min-height: 4em;
}

.text-edit-prefix {
  grid-column: 1;
  grid-row: 1 / 2;
}

.text-edit-button-bar {
  grid-column: 2 / 3;
  grid-row: 1;
}

.text-edit-text-area {
  grid-column: 2 / 3;
  grid-row: 2;
}

/* -------------------------
 * COMMENTS
 * -----------------------*/
.comment {
  color: var(--comment-text);
}

.comment-disabled {
  color: var(--comment-text-disabled);
  border: dotted 1px var(--comment-text-disabled);
}

.comment-editor {
  color: var(--comment-text);
  border: solid 1px var(--comment-text);
}

.comment-brackets {
  color: var(--comment-brackets);
}

/* -------------------------
 * CDATA
 * -----------------------*/
.cdata {
  color: var(--cdata-text);
}

.cdata-label {
  color: var(--cdata-label);
}

.cdata-disabled {
  color: var(--cdata-text-disabled);
  border: dotted 1px var(--cdata-text-disabled);
}

.cdata-editor {
  color: var(--cdata-text);
  border: solid 1px var(--cdata-text);
}

.cdata-brackets {
  color: var(--cdata-brackets);
}

/* -------------------------
 * PI
 * -----------------------*/
.pi {
  color: var(--pi-text);
}

.pi-lang {
  color: var(--pi-lang);
}

.pi-drop-down {
  color: var(--pi-lang);
  width: 6em;
}

.pi-disabled {
  color: var(--pi-text-disabled);
  border: dotted 1px var(--pi-text-disabled);
}

.pi-editor {
  color: var(--pi-text);
  border: solid 1px var(--pi-text);
}

.pi-brackets {
  color: var(--pi-brackets);
}


/* -------------------------
 * EDIT BOX 
 * -----------------------*/
.edit-box {
  display: grid;
  min-width: 10em;
  min-height: 4em;
}

.edit-prefix {
  grid-column: 1;
  grid-row: 1 / 4;
}

.edit-top-bar {
  grid-column: 2 / 3;
  grid-row: 1;
}

.edit-button-bar {
  grid-column: 2 / 3;
  grid-row: 2;
}

.edit-text-area {
  grid-column: 2 / 3;
  grid-row: 3;
  min-height: 8em;
  min-width: 36em;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.edit-text-show,
.edit-text-editor {
  flex: 1 0 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%;
  min-width: 100%;
  text-wrap-mode: wrap;
  border: 1px dotted var(--text-input-border);
}

.edit-bottom-bar {
  grid-column: 2 / 3;
  grid-row: 4;
}